@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

:root {
    --white: #fff;
    --black: #000;
    --blue: #0000FFB4; 
    --hover: #eaeaea66;
}

body {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: auto;
    background-color: var(--white);
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,a,span,div,input,button  {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
}


.Wordmark:hover,
.Wordmark {
    font-family: "Nunito Sans", sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: lowercase;
    background: none;
    letter-spacing: 0.02em;
    line-height: 1;
    color: var(--blue);
    text-decoration: unset;
}

/* ================================ */
/* Input */
/* ================================ */
.Input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Input label {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.Input input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid var(--black);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    color: var(--black);
}
.Input input:focus {
    border: 2px solid var(--blue);
}

/* ================================ */
/* Select */
/* ================================ */
.Select {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.Select label {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}
.Select select {
    border-radius: 5px;
    height: 42px;
    border: 1px solid var(--black);
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
    color: var(--black);
    background: var(--white);
}
.Select select:focus {
    border: 2px solid var(--blue);
}


/* ================================ */
/* Redirect */
/* ================================ */
.Redirect {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.Redirect a { 
    text-decoration: unset;
    color: var(--blue);
    font-size: 16px;
    font-weight: 400;
}
.Redirect a:hover {
    text-decoration: underline;
}


/* ================================ */
/* Button */
/* ================================ */
.Button {
    border-radius: 5px;
    height: 43px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--blue);
    color: var(--white);
    width: 100%;
    cursor: pointer;
}

/* ================================ */
/* AuthLayout */
/* ================================ */
.AuthLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    min-height: 100svh;
}
.AuthLayout form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 428px;
    background: var(--hover);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0px 0px 1px #0000004f;
}
.AuthLayout form.register {
    width: fit-content;
}

/* ================================ */
/* FirstHeading */
/* ================================ */
.FirstHeading {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    width: 428px;
}




/*verify-email*/
.verify-email {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
}

.verify-email section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 428px;
    background: var(--hover);
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0px 0px 1px #0000004f;
}
.verify-email section ol {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


@media (max-width: 992px) {
    .AuthLayout {
        width: fit-content;
        margin: 50px 0;
    }

    .AuthLayout div {
        max-width: 90%;
        width: 100%;
    }
    .AuthLayout form,
    .AuthLayout .Redirect,
    .AuthLayout input {
        width: 100%;
    }



    .AuthLayout form.register select,
    .AuthLayout form.register input,
    .AuthLayout form.register {
        width: 100% !important; 
        max-width: 100% !important;
    }
    .AuthLayout form.register div {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .verify-email section {
        width: 80%;
    }
}